.characters {
    height: 100%;
}

.characters .div-logo {
    text-align: center;
}

.characters .logo {
    width: 500px;
    margin: 20px 0 50px 0;
    transition: transform .5s;
}

.characters .logo:hover {
    transform: scale(1.05);
}

.characters .card-character {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}